@using Demo_Solution.Services;
@using static Demo_Solution.Pages.FetchData;
@inject ForecastService forecastService;
<h3>ForecastForm</h3>

<button>Capture new forecast</button>


<EditForm Model=@weatherForecast OnValidSubmit=@HandleValidSubmit>
	<div>
		<label for="Date">Date</label>
		<InputDate id="Date" @bind-Value="weatherForecast.Date" />
	</div>
	<div>
		<label for="Date">Temp (C)</label>
		<InputNumber id="Temp" @bind-Value="weatherForecast.TemperatureC" />
	</div>
	<div>
		<label for="Summary">Summary</label>
		<InputText id="Summary" @bind-Value="weatherForecast.Summary" />
	</div>
	<button type="submit">Save</button>
</EditForm>

@code {

	private WeatherForecast weatherForecast = new WeatherForecast() { Date = DateTime.Now};

	private async void HandleValidSubmit()
	{
		await forecastService.PostWeatherForecast(weatherForecast);
		StateHasChanged();
	}
}
